<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><a href="/redirect">click here to go back</a></h2>

    <%include partials/scriptinc%>
  </body>
</html>
