/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #fff;
  text-transform: uppercase;
}
.tablecol {
  margin-top: 50px;
  padding: 50px;
}
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e1e5ea;
}
.btn {
  background: #f55c47;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background-color: #ff7b54;
}
.btn a {
  text-decoration: none;
}
.uploading {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2%;
}
.flex_title {
  flex: 1;
  text-align: center;
  font-size: 3rem;
}
.flex_content {
  flex: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}
